@media only screen and (min-width: 741px) {
  header {
    padding: 20px 40px;
  }

  .hamburger {
    display: none;
  }

  .nav-menu {
    display: flex;
    flex-direction: row;
    position: unset;
    background-image: none;
    padding: 0;
  }

  .close-nav {
    display: none;
  }

  .logo {
    font-size: 2em;
  }

  nav li {
    font-weight: bold;
  }

  .about {
    max-width: 80%;
    text-align: center;
  }

  h1 {
    margin-bottom: 30px;
  }

  .page-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0px 30px;
  }

  .card {
    margin: 10px;
    max-width: 400px;
  }

  .card-img img {
    max-height: 180px;
  }

  .modal img {
    width: 55%;
  }
}

@media only screen and (min-width: 900px) {
  .page-cards {
    margin: 50px 100px;
  }

  .modal img {
    width: 55%;
    top: 5%;
    max-height: 90%;
  }
}

@media only screen and (min-width: 1200px) {
  .card-img img {
    max-height: 250px;
  }

  .modal img {
    width: 45%;
  }
}
