@media only screen and (min-width: 670px) {

    /* HEADER */
  
    .hamburger {
        display: none;
      }

    .nav-menu {
        display: flex;
        flex-direction: row;
        position: unset;
        background-image: none;
        padding: 0;
    }

    .close-nav {
        display: none;
    }

    .on-page {
        text-decoration: underline;
      }

    .logo {
        font-size: 2.5em;
        max-width: 200px;
        margin-top: 20px;
    }

    nav li {
        font-weight: bold;
    }
    
    h1 {
        margin: 40px;
        font-size: 2em;
      }

    .card-left,
    .card-right {
        display: flex;
        align-items: center;
    }

    .card-right .card-img {
        flex: 60%;
        margin: 0;
    }

    .card-left .card-img {
        flex: 60%;
        margin: 0;
    }

    .card-img img {
        max-height: 500px;
        width: auto;
    }

    .card-txt {
        flex: 40%;
        margin: 0px 30px;
    }
}